body {
  display: flex;
}

.gridKeyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(670px, 1fr));
}

#keyboard {
  display: block;
  border: 2px solid black;
  padding: 5px;
}

#keyboard::after {
  content: "";
  display: block;
  clear: both;
}

.key {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.5s;
}

#color {

}

.clearfix {              /*чистка потока = перенос на новую строку*/
  display: block;
  width: 100%;
  clear: both;
}

.active {
  transform: scale(0.9);
  background: goldenrod;
  cursor: pointer;
}