body {
  display: flex;
}

#textarea {
  resize: none;
}

.gridKeyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(670px, 1fr));
}

#keyboard {
  display: block;
  border: 2px solid black;
  padding: 5px;
}

#keyboard::after {
  content: "";
  display: block;
  clear: both;
}

.key {
  width: 5%;
  height: 5%;
  font-size: 13px;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.5s;
}

.clearfix {              /*чистка потока = перенос на новую строку*/
  display: block;
  width: 100%;
  clear: both;
}

.active {
  transform: scale(0.9);
  background: goldenrod;
  cursor: pointer;
}

.caps {
  width: 7.8%;
  background: white !important;
  transition-property: transform;
  transition-duration: 0.5s;
}

.capsActive {
  background: goldenrod !important;
  transform: scale(0.9);
  cursor: pointer;
}

.meta {
  width: 7%;
}

.Enter {
  width: 9.3%;
}

.ShiftLeft {
  width: 11.3%;
}

.ShiftRight {
  width: 5.8%;
}

.Space {
  width: 37.9%;
}

.Backspace {
  width: 8%;
}

.Backquote {
  width: 2%;
}

.ar {
  width: 5.8%
}